html,
body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    flex-direction: column;
    -webkit-user-select: none;
    background-color: rgb(31, 35, 36);
}

#start {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

#overlay {
    gap: 5px;
    top: 50%;
    left: 50%;
    padding: 20px;
    display: flex;
    border-radius: 5px;
    position: absolute;
    flex-direction: column;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 0.5rem rgb(0, 0, 0));
}

#start h1 {
    padding: 0;
    margin-top: 0;
    text-align: center;
    margin-bottom: 10px;
    font-family: "Alata", sans-serif;
}

#start h5 {
    margin: 0;
    padding: 5px;
    text-align: center;
    color: rgb(31, 35, 36);
    font-family: "Outfit", sans-serif;
    background-color: rgb(245, 245, 245);
}

#qrcode:hover {
    cursor: pointer;
}

#separator {
    padding: 10px;
    display: flex;
    white-space: nowrap;
}

#separator h6 {
    margin: 0 10px;
    align-self: center;
    color: rgb(31, 35, 36);
    font-family: "Outfit", sans-serif;
}

hr {
    width: 100%;
}

#start button {
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    color: rgb(245, 245, 245);
    font-family: "Outfit", sans-serif;
    background-color: rgb(31, 35, 36);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

#table {
    flex: 1;
    margin: 5px;
    display: flex;
    overflow: auto;
    position: relative;
    border-radius: 5px;
    background-color: rgb(0, 118, 73);
    border: 10px solid rgb(245, 245, 245);
}

.deck,
.fiche {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

.card,
.fiche {
    top: 10px;
    cursor: grab;
    position: absolute;
    border: 1px solid rgb(0, 0, 0);
}

.card {
    border-radius: 5px;
}

.card+.card {
    margin-top: -3px;
}

.it {
    left: 5px;
}

.fr-b {
    left: 45px;
}

.fr-r {
    left: 90px;
}

.fiche {
    border-radius: 90%;
}

#fiche-1 {
    left: 135px;
}

#fiche-2 {
    left: 180px;
}

#fiche-3 {
    left: 225px;
}

.card+.card:hover,
.fiche:hover {
    transform: scale(1.075);
}

#hand,
#notes {
    gap: 10px;
    padding: 5px;
    display: flex;
}

#hand {
    height: 79.8px;
}

#hand h3 {
    margin: 0;
    padding: 5px;
    text-align: center;
    text-orientation: mixed;
    color: rgb(31, 35, 36);
    writing-mode: vertical-rl;
    font-family: "Outfit", sans-serif;
    background-color: rgb(245, 245, 245);
}

#hand div {
    flex: 1;
    gap: 10px;
    display: flex;
    padding: 10px;
    overflow: auto;
    border-radius: 5px;
    align-items: center;
    border: 1px solid rgb(245, 245, 245);
}

#notes {
    flex: 0.2;
}

#notes textarea {
    flex: 1;
    resize: none;
    padding: 10px;
    font-size: 15px;
    overflow-x: auto;
    border-radius: 5px;
    white-space: nowrap;
    font-family: "Alata", sans-serif;
}