html,
body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    cursor: default;
    flex-direction: column;
    background-color: rgb(31, 35, 36);
}

body>section {
    gap: 10px;
    padding: 5px;
    display: flex;
}

#start {
    flex: 1;
    margin: 5px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 118, 73);
    border: 2px solid rgb(255, 255, 255);
}

#start div {
    gap: 5px;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0 0 0.1rem rgb(0, 0, 0));
}

#start h5 {
    margin: 0;
    padding: 5px;
    text-align: center;
    font-family: "Alata", sans-serif;
    background-color: rgb(255, 255, 255);
}

#qrcode:hover {
    cursor: pointer;
}

#start button {
    border: none;
    cursor: pointer;
    font-size: 25px;
    margin-top: 20px;
    border-radius: 5px;
    font-family: "Alata", sans-serif;
}

#hand,
#notes {
    flex: 0.25;
}

#hand h3 {
    margin: 0;
    padding: 5px;
    text-align: center;
    text-orientation: mixed;
    writing-mode: vertical-rl;
    font-family: "Alata", sans-serif;
    background-color: rgb(255, 255, 255);
}

#hand div {
    flex: 1;
    gap: 10px;
    display: flex;
    padding: 10px;
    overflow-x: auto;
    border-radius: 5px;
    align-items: center;
    border: 2px solid rgb(255, 255, 255);
}

#notes textarea {
    flex: 0.5;
    resize: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    font-family: "Alata", sans-serif;
}