html,
body {
    height: 100vh;
}

body {
    margin: 0;
    display: flex;
    cursor: default;
    font-family: "Alata", sans-serif;
    background-color: rgb(31, 35, 36);
}

#b {
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px 5px 10px 10px;
}

#b div {
    flex: 1;
    gap: 10px;
    display: flex;
}

.view {
    flex: 1;
    gap: 10px;
    display: flex;
    overflow-x: auto;
    border-radius: 5px;
    align-items: center;
    border: 2px solid rgb(255, 255, 255);
}

#drop {
    background-color: rgb(0, 118, 73);
}

textarea {
    flex: 0.5;
    resize: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    font-family: "Alata", sans-serif;
}

#c {
    gap: 10px;
    padding: 10px 10px 10px 5px;
    display: flex;
}

table {
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
}

table th {
    padding: 10px;
    text-align: left;
    background-color: rgb(255, 255, 255);
    font-family: "Alata", sans-serif;
}

table td {
    padding: 10px;
    background-color: rgb(235, 235, 235);
}

#b h3,
#c h3:not(table h3) {
    margin: 0;
    padding: 5px;
    text-align: center;
    text-orientation: mixed;
    writing-mode: vertical-rl;
}

#b h3 {
    background-color: rgb(255, 255, 255);
}

#c h3:not(table h3) {
    color: rgb(255, 255, 255);
    background-color: rgb(203, 178, 146);
}

.view img:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.85);
}

table td:hover {
    cursor: pointer;
    background-color: rgb(0, 118, 73);
}