<!DOCTYPE html>
<html lang = "it">
    <head>
        <meta charset = "UTF-8">
        <title>TuttoCarte.it</title>
        <meta name = "theme-color" content = "#1f2324">
        <meta name = "mobile-web-app-capable" content = "yes">
        <link rel = "icon" href = "../static/assets/favicon.png">
        <meta name = "apple-mobile-web-app-capable" content = "yes">
        <link rel = "stylesheet" href = "../static/css/min/index.min.css">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <meta name = "description" content = "Gioca con i tuo amici a qualsiasi gioco di carte senza la necessità di avere un mazzo di carte a portata di mano!">

        <link rel = "preconnect" href = "https://fonts.googleapis.com">
        <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
        <link rel = "stylesheet" href = "https://fonts.googleapis.com/css2?family=Alata&family=Outfit&display=swap">

        <script src = "https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
        <script src = "https://cdn.jsdelivr.net/npm/jquery-ui@1.13.2/dist/jquery-ui.min.js"></script>
        <script src = "https://cdn.jsdelivr.net/npm/jquery-ui-touch-punch@0.2.3/jquery.ui.touch-punch.min.js"></script>

        <script src = "https://cdn.jsdelivr.net/npm/socket.io@4.7.2/client-dist/socket.io.min.js"></script>
    </head>
    <body>
        {% if dealer == True %}
            <section id = "start">
                <div id = "overlay">
                    <h1>TuttoCarte.it</h1>
                    <h5>FAI SCANNERIZZARE IL QR CODE</h5>
                    <img id = "qrcode" src = "https://api.qrserver.com/v1/create-qr-code/?size=220x220&data=TuttoCarte.it/{{room}}" alt = "qrcode">
                    <h5 id = "copy">O CLICCALO PER COPIARE IL LINK</h5>
                    <button>INIZIAMO!</button>
                    <div id = "separator"><hr><h6>OPPURE</h6><hr></div>
                    <button>SOLITARIO</button>
                </div>
            </section>
        {% endif %}
        <section id = "table"></section>
        <section id = "hand">
            <h3>MANO</h3><div></div>
        </section>
        <section id = "notes">
            <textarea id = "shared_notes" placeholder = "Note condivise"></textarea>
            <textarea id = "personal_notes" placeholder = "Note personali"></textarea>
        </section>

        <script type = "text/javascript">

            $(document).ready(function () {

                const room = "{{room}}";
                var socket = io({ transport: ["websocket"] });

                socket.on("connect", function () {
                    socket.emit("join", { room: room });
                });

                socket.on("table", function (data) {
                    $("#table").html(data.html);
                });

                socket.on("notes", function (data) {
                    $("#public_notes").val(data.notes)
                });

                $("#qrcode").click(function () {
                    navigator.clipboard.writeText(`TuttoCarte.it/${room}`);
                    $("#copy").text("COPIATO");
                    setTimeout(function () {
                        $("#copy").text("O CLICCALO PER COPIARE IL LINK");
                    }, 2000)
                });

                $("#start button").click(function () {
                    $("#start").remove();
                    socket.emit("table", {
                        room: room,
                        html: `
                            <img class = "card drag" src = "static/assets/decks/IT/BACK.jpg" alt = "card">
                            <img class = "card drag" src = "static/assets/decks/FR/BACK-B.jpg" alt = "card">
                            <img class = "card drag" src = "static/assets/decks/FR/BACK-R.jpg" alt = "card">
                            <img class = "fiche drag" src = "static/assets/fiches/FICHE-1.png" alt = "fiche">
                            <img class = "fiche drag" src = "static/assets/fiches/FICHE-2.png" alt = "fiche">
                            <img class = "fiche drag" src = "static/assets/fiches/FICHE-3.png" alt = "fiche">
                            <img class = "fiche drag" src = "static/assets/fiches/DEALER.png" alt = "fiche">`
                    });
                });

                $(document).on("touchstart", ".drag", function () {
                    $(this).draggable({
                        helper: "clone"
                    });
                });
                $(document).on("mouseenter", ".drag", function () {
                    $card = $(this);
                    $card.draggable({
                        helper: "clone",
                        start: function (event, ui) {
                            $card.css("cursor", "grabbing");
                        },
                        stop: function (event, ui) {
                            $card.css("cursor", "");
                        }
                    });
                });
                $("#table").droppable({
                    accept: ".drag",
                    drop: function (event, ui) {
                        socket.emit("table", { room: room, "html": $("#table").html() });
                    }
                });

                function click($card) {
                    if (event.ctrlKey || event.target.id === "hand") {
                        $card.prependTo("#hand div").css({ "position": "", "top": "", "left": "" });
                        socket.emit("table", { room: room, "html": $("#table").html() });
                    } else {
                        // const $src = card.attr("src");

                        // if ($src.endsWith("retro.jpg")) {
                        //     if ($src.startsWith("static/assets/decks/it/")) {
                        //         card.attr("src", `static/assets/decks/it/${card.attr("id")}.jpg`);
                        //     } else if ($src.startsWith("static/assets/decks/fr/")) {
                        //         card.attr("src", `static/assets/decks/fr/${card.attr("id")}.jpg`);
                        //     }
                        // } else {
                        //     if ($src.startsWith("static/assets/decks/it/")) {
                        //         card.attr("src", "static/assets/decks/it/retro.jpg");
                        //     } else if ($src.startsWith("static/assets/decks/fr/")) {
                        //         card.attr("src", "static/assets/decks/fr/retro.jpg");
                        //     }
                        // }
                        // socket.emit("table", { room: room, "html": $("#table").html() });
                    }
                };

                $("#table").on("click", ".card", function () {
                    click($(this));
                });
                $("#hand").on("click", ".card", function () {
                    click($(this));
                });

                $("#shared_notes").click(function () {
                    $("#personal_notes").hide();
                });
                $("#shared_notes").blur(function () {
                    $("#personal_notes").show();
                    socket.emit("notes", { room: room, "notes": $("#public_notes").val() });
                });
                $("#personal_notes").click(function () {
                    $("#shared_notes").hide();
                });
                $("#personal_notes").blur(function () {
                    $("#shared_notes").show();
                });

                $(window).on("orientationchange", function () {
                    if (window.orientation === 0 || window.orientation === 180) {
                        $("#overlay").css("transform", "translate(-50%, -50%)")
                    } else {
                        $("#overlay").css("transform", "translate(-50%, -50%) scale(0.5)")
                    }
                });

            });

        </script>
    </body>
</html>