<!DOCTYPE html>
<html lang = "it">
    <head>
        <meta charset = "UTF-8">
        <title>TuttoCarte.it</title>
        <meta name = "theme-color" content = "#1f2324">
        <link rel = "manifest" href = "/app.webmanifest">
        <link rel = "icon" href = "../static/assets/favicon.png">
        <link rel = "stylesheet" href = "../static/css/min/index.min.css">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <meta name = "description" content = "Gioca con i tuoi amici a qualsiasi gioco di carte senza la necessità di avere un mazzo a portata di mano!">
        <link rel = "preconnect" href = "https://fonts.googleapis.com">
        <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
        <link rel = "stylesheet" href = "https://fonts.googleapis.com/css2?family=Outfit&display=swap">
        <script src = "https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
        <script src = "https://cdn.jsdelivr.net/npm/jquery-ui@1.13.2/dist/jquery-ui.min.js"></script>
        <script src = "https://cdn.jsdelivr.net/npm/jquery-ui-touch-punch@0.2.3/jquery.ui.touch-punch.min.js"></script>
        <script src = "https://cdn.jsdelivr.net/npm/socket.io@4.7.2/client-dist/socket.io.min.js"></script>
        <script>
            if ("serviceWorker" in navigator) {
                navigator.serviceWorker.register("/service-worker.js");
            }
        </script>
    </head>
    <body>
        {% if dealer == True %}
            <section id = "start">
                <div id = "overlay">
                    <h1>TuttoCarte.it</h1>
                    <h5>FAI SCANNERIZZARE IL QR CODE</h5>
                    <img id = "qrcode" src = "https://api.qrserver.com/v1/create-qr-code/?data=TuttoCarte.it/{{room}}" alt = "qrcode">
                    <h5 id = "copy">O CLICCALO PER COPIARE IL LINK</h5>
                    <button id = "together">INIZIAMO!</button>
                    <div id = "separator"><hr><h6>OPPURE</h6><hr></div>
                    <button id = "alone">SOLITARIO</button>
                </div>
            </section>
        {% endif %}
        <section id = "table">{{ decks | safe }}
            <img id = "fiche1" class = "fiche clonable" src = "static/assets/fiches/FICHE1.png" alt = "fiche">
            <img id = "fiche2" class = "fiche clonable" src = "static/assets/fiches/FICHE2.png" alt = "fiche">
            <img id = "fiche3" class = "fiche clonable" src = "static/assets/fiches/FICHE3.png" alt = "fiche">
            <img id = "dealer" class = "fiche" src = "static/assets/fiches/DEALER.png" alt = "fiche">
        </section>
        <section id = "hand"><h3>MANO</h3><div></div></section>
        <section>
            <textarea id = "shared_notes" placeholder = "Note condivise"></textarea>
            <textarea id = "personal_notes" placeholder = "Note personali"></textarea>
        </section>
        <script type = "text/javascript">
            $(document).ready(function () {

                $("html, body").animate({scrollTop: "0px"}, 0);

                var hand = false;
                const room = "{{room}}";
                const socket = io({ transport: ["websocket"] });

                socket.on("connect", function () {
                    socket.emit("join", { room: room });
                });

                socket.on("table", function (data) {
                    $("#table").html(data.html);
                });

                socket.on("notes", function (data) {
                    $("#shared_notes").val(data.notes);
                });

                $("#qrcode").click(function () {
                    navigator.clipboard.writeText(`TuttoCarte.it/${room}`);
                    $("#copy").text("COPIATO");
                    setTimeout(function () {
                        $("#copy").text("O CLICCALO PER COPIARE IL LINK");
                    }, 2000)
                });

                $("#together").click(function () {
                    $("#start").remove();
                    socket.emit("table", { room: room, html: $("#table").html() });
                });

                $("#alone").click(function () {
                    $("#start").remove();
                    $("#shared_notes").remove();
                });

                $("#table").on("touchstart", ".card", function () {
                    $(this).draggable();
                });
                $("#table").on("mouseenter", ".card", function () {
                    $(this).draggable();
                });
                $("#table").on("touchstart", ".fiche", function () {
                    $(this).draggable({
                        helper: function () {
                            if ($(this).hasClass("clonable")) {
                                return $(this).clone().removeClass("clonable");
                            } else {
                                return $(this);
                            }
                        }
                    });
                });
                $("#table").on("mouseenter", ".fiche", function () {
                    $(this).draggable({
                        helper: function () {
                            if ($(this).hasClass("clonable")) {
                                return $(this).clone().removeClass("clonable");
                            } else {
                                return $(this);
                            }
                        }
                    });
                });
                $("#table").droppable({
                    drop: function () {
                        socket.emit("table", { room: room, html: $("#table").html() });
                    }
                });

                $("#hand div").on("touchstart", ".card", function () {
                    $(this).draggable({
                        axis: "x"
                    });
                });
                $("#hand div").on("mouseenter", ".card", function () {
                    $(this).draggable({
                        axis: "x"
                    });
                });

                function click($card) {
                    if (event.ctrlKey || hand === true) {
                        $card.prependTo("#hand div").css({ position: "", top: "", left: "" });
                        socket.emit("table", { room: room, html: $("#table").html() });
                    } else {
                        const $src = $card.attr("src");
                        socket.emit("draw", { room: room, id: $card.attr("id") });
                        socket.on("draw", function (data) {
                            const $val = data.card;
                            if ($src.endsWith("BACK.jpg")) {
                                if ($src.startsWith("static/assets/decks/italian/")) {
                                    $card.attr("src", `static/assets/decks/italian/${$val}.jpg`);
                                } else if ($src.startsWith("static/assets/decks/french1/")) {
                                    $card.attr("src", `static/assets/decks/french1/${$val}.jpg`);
                                } else if ($src.startsWith("static/assets/decks/french2/")) {
                                    $card.attr("src", `static/assets/decks/french2/${$val}.jpg`);
                                }
                            } else {
                                if ($src.startsWith("static/assets/decks/italian/")) {
                                    $card.attr("src", "static/assets/decks/italian/BACK.jpg");
                                } else if ($src.startsWith("static/assets/decks/french1/")) {
                                    $card.attr("src", "static/assets/decks/french1/BACK.jpg");
                                } else if ($src.startsWith("static/assets/decks/french2/")) {
                                    $card.attr("src", "static/assets/decks/french2/BACK.jpg");
                                }
                            }
                            socket.emit("table", { room: room, html: $("#table").html() });
                        });
                    }
                };
                $(document).on("click", ".card", function () {
                    click($(this));
                });
                $("#hand").on("touchstart", "h3", function () {
                    hand = true;
                });
                $("#hand").on("touchend", "h3", function () {
                    hand = false;
                });

                $("#shared_notes").click(function () {
                    $("#personal_notes").hide();
                });
                $("#shared_notes").blur(function () {
                    $("#personal_notes").show();
                    socket.emit("notes", { room: room, notes: $("#shared_notes").val() });
                });
                $("#personal_notes").click(function () {
                    $("#shared_notes").hide();
                });
                $("#personal_notes").blur(function () {
                    $("#shared_notes").show();
                });

                $(window).on("orientationchange", function () {
                    if (window.orientation === 0 || window.orientation === 180) {
                        $("#overlay").css("transform", "");
                    } else {
                        $("#overlay").css("transform", "scale(0.55)");
                    }
                });
            });
        </script>
    </body>
</html>