<!DOCTYPE html>
<html lang = "it">
    <head>
        <meta charset = "UTF-8">
        <title>SenzaMazzo.it</title>
        <meta name = "theme-color" content = "#1f2324">
        <link rel = "icon" href = "../static/assets/favicon.png">
        <link rel = "stylesheet" href = "../static/css/min/index.min.css">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <meta name = "description" content = "Gioca con i tuo amici a qualsiasi gioco di carte senza la necessità di avere un mazzo di carte a portata di mano!">

        <link rel = "preconnect" href = "https://fonts.googleapis.com">
        <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
        <link rel = "stylesheet" href = "https://fonts.googleapis.com/css2?family=Alata&family=Outfit&display=swap">

        <script src = "https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
        <script src = "https://cdn.jsdelivr.net/npm/jquery-ui@1.13.2/dist/jquery-ui.min.js"></script>
        <script src = "https://cdn.jsdelivr.net/npm/jquery-ui-touch-punch@0.2.3/jquery.ui.touch-punch.min.js"></script>

        <script src = "https://cdn.jsdelivr.net/npm/socket.io@4.7.2/client-dist/socket.io.min.js"></script>
    </head>
    <body>

        <section id = "table">
            {% if dealer == True %}
                <div id = "start">
                    <h1>SenzaMazzo.it</h1>
                    <h5>FAI SCANNERIZZARE IL QR CODE</h5>
                    <img id = "qrcode" src = "https://api.qrserver.com/v1/create-qr-code/?size=175x175&data=senzamazzo.it/{{room}}" alt = "qrcode">
                    <h5 id = "copy">O CLICCALO PER COPIARE IL LINK</h5>
                    <button>INIZIAMO!</button>
                </div>
            {% else %}
                
            {% endif %}
        </section>
        <section id = "hand">
            <h3>MANO</h3>
            <div>
                <div id = "info">
                    <p>
                        Gioca come se stessi su un tavolo reale! Fai click qui + sulla carta per aggiungerla in mano (CTRL + click sulla carta se stai sul PC). Trascina le carte per spostarle ovunque, mentre con 1 click su di esse puoi scoprirle/coprirle
                    </p>
                </div>
            </div>
        </section>
        <section id = "notes">
            <textarea id = "public_notes" placeholder = "Note condivise"></textarea>
            <textarea placeholder = "Note personali"></textarea>
        </section>

        <script type = "text/javascript">

            $(document).ready(function () {

                var socket = io({ transport: ["websocket"] });
                const room = "{{room}}";

                socket.on("connect", function () {
                    socket.emit("join", { room: room });
                });

                socket.on("table", function (data) {
                    if (($("#info").is(":hidden"))) {
                        $("#info").show();
                    }
                    $("#table").html(data.html);
                });

                socket.on("notes", function (data) {
                    $("#public_notes").val(data.notes)
                });

                $("#qrcode").click(function () {
                    navigator.clipboard.writeText(`senzamazzo.it/${room}`);

                    $("#copy").text("COPIATO!");

                    setTimeout(function () {
                        $("#copy").text("O CLICCALO PER COPIARE IL LINK");
                    }, 2000)
                });

                $("#start button").click(function () {
                    socket.emit("start", { room: room });
                });

                $(document).on("touchstart", ".drag", function () {
                    $(this).draggable();
                });
                $(document).on("mouseenter", ".drag", function () {
                    $(this).draggable();
                });
                $("#table").droppable({
                    accept: ".drag",
                    drop: function (event, ui) {
                        socket.emit("table", { room: room, "html": $("#table").html() });
                    }
                });

                function click(card) {
                    if (event.ctrlKey || event.target.id === "hand") {
                        if (($("#info").is(":visible"))) {
                            $("#info").remove();
                        }
                        card.css("top", "");
                        card.css("left", "");
                        card.css("position", "");
                        $("#hand div").append(card);
                    } else {
                        var src = card.attr("src");

                        if (src.endsWith("retro.jpg")) {
                            if (src.startsWith("static/assets/decks/it/")) {
                                card.attr("src", `static/assets/decks/it/${card.attr("id")}.jpg`);
                            } else if (src.startsWith("static/assets/decks/fr/")) {
                                card.attr("src", `static/assets/decks/fr/${card.attr("id")}.jpg`);
                            }
                        } else {
                            if (src.startsWith("static/assets/decks/it/")) {
                                card.attr("src", "static/assets/decks/it/retro.jpg");
                            } else if (src.startsWith("static/assets/decks/fr/")) {
                                card.attr("src", "static/assets/decks/fr/retro.jpg");
                            }
                        }
                    }
                    socket.emit("table", { room: room, "html": $("#table").html() });
                };

                $("#table").on("click", ".click", function (event) {
                    click($(this));
                });
                $("#hand").on("click", ".click", function (event) {
                    click($(this));
                });

                $("#public_notes").on("blur", function () {
                    socket.emit("notes", { room: room, "notes": $("#public_notes").val() });
                });

            });

        </script>
    </body>
</html>