<!DOCTYPE html>
<html lang = "it">
    <head>
        <meta charset = "UTF-8">
        <title>TuttoCarte.it</title>
        <meta name = "theme-color" content = "#1f2324">
        <link rel = "manifest" href = "/manifest.json">
        <link rel = "icon" href = "../static/assets/favicon.ico">
        <link rel = "stylesheet" href = "../static/css/offline.css">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <meta name = "description" content = "Gioca con i tuoi amici a qualsiasi gioco di carte senza la necessità di avere un mazzo a portata di mano!">
        <link rel = "preconnect" href = "https://fonts.googleapis.com">
        <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
        <link rel = "stylesheet" href = "https://fonts.googleapis.com/css2?family=Outfit&display=swap">
    </head>
    <body>
    </body>
</html>