<!DOCTYPE html>
<html lang = "it">
    <head>
        <meta charset = "UTF-8">
        <title>Gioca SenzaMazzo.it</title>
        <meta name = "theme-color" content = "#1f2324">
        <link rel = "icon" href = "static/assets/icons/favicon.png">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <meta name = "description" content = "Gioca con i tuo amici a qualsiasi gioco di carte senza la necessità di avere un mazzo di carte a portata di mano!">

        <link rel = "stylesheet" href = "static/css/room/min/mobile-small.min.css" media = "screen and (max-width: 320px)">
        <link rel = "stylesheet" href = "static/css/room/min/mobile-medium.min.css" media = "screen and (min-width: 321px) and (max-width: 375px)">
        <link rel = "stylesheet" href = "static/css/room/min/mobile-large.min.css" media = "screen and (min-width: 376px) and (max-width: 425px)">
        <link rel = "stylesheet" href = "static/css/room/min/tablet.min.css" media = "screen and (min-width: 426px) and (max-width: 768px)">
        <link rel = "stylesheet" href = "static/css/room/min/pc-small.min.css" media = "screen and (min-width: 769px) and (max-width: 1024px)">
        <link rel = "stylesheet" href = "static/css/room/min/pc-medium.min.css" media = "screen and (min-width: 1025px) and (max-width: 1440px)">
        <link rel = "stylesheet" href = "static/css/room/min/pc-large.min.css" media = "screen and (min-width: 1441px) and (max-width: 1680px)">
        <link rel = "stylesheet" href = "static/css/room/min/pc-huge.min.css" media = "screen and (min-width: 1681px)">

        <link rel = "preconnect" href = "https://fonts.googleapis.com">
        <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
        <link href = "https://fonts.googleapis.com/css2?family=Alata&family=Outfit&display=swap" rel = "stylesheet">

        <script src = "https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>

        <script src = "https://cdn.jsdelivr.net/npm/socket.io@4.7.2/client-dist/socket.io.min.js"></script>
    </head>
    <body>

        <fieldset  class = "view" id = "drop">
            <legend>CARTE SUL TAVOLO</legend>
        </fieldset>
        <fieldset  class = "view" id = "hand">
            <legend>MANO</legend>
        </fieldset>

        <button class = "pick" id = "pick_from_deck">PESCA DAL MAZZO</button>
        <button class = "pick" id = "pick_from_hand">PESCA DA UN'ALTRA MANO</button>
        <button class = "drop" id = "drop_from_deck">CALA A TERRA DAL MAZZO</button>

        <script type = "text/javascript">

            $(document).ready(function () {

                var socket = io("http://127.0.0.1:5000/");
                const room = "{{room}}";

                socket.on("connect", function () {
                    socket.emit("join", { room: room, user: socket.id });
                });

                socket.on("pick", function (data) {
                    $("#hand").append(`<img class = "clickable" src = "static/assets/deck/${data.card}.jpg" alt = "${data.card}">`);
                });

                socket.on("drop", function (data) {
                    $("#drop").find("img").remove();
                    data.cards.forEach(function (card) {
                        $("#drop").append(`<img class = "clickable" src = "static/assets/deck/${card}.jpg" alt = "${data.card}">`);
                    })
                });

                socket.on("void", function () {
                    $("#pick_from_deck").prop("disabled", true);
                    $("#drop_from_deck").prop("disabled", true);
                });



                $("#pick_from_deck").click(function () {
                    socket.emit("pick_from_deck", { room: room, user: socket.id });
                });

                $("#drop_from_deck").click(function () {
                    socket.emit("drop_from_deck", { room: room });
                });

                $("#hand").on("click", ".clickable", function () {
                    socket.emit("drop_from_hand", { room: room, card: $(this).attr("src").split("/").pop().split(".")[0] });
                    $(this).remove();
                });

                $("#drop").on("click", ".clickable", function () {
                    socket.emit("pick_from_drop", { room: room, user: socket.id, card: $(this).attr("src").split("/").pop().split(".")[0] });
                });

                $("#hand").on("dblclick", ".clickable", function () {
                });

                $("#drop").on("dblclick", ".clickable", function () {
                });

            });

        </script>

    </body>
</html>