<!DOCTYPE html>
<html lang = "it">
    <head>
        <meta charset = "UTF-8">
        <title>Gioca a carte SenzaMazzo.it</title>
        <meta name = "theme-color" content = "#ffffff">
        <link rel = "canonical" href = "https://www.senzamazzo.it">
        <link rel = "icon" href = "static/assets/icons/favicon.png">
        <link rel = "stylesheet" href = "static/css/min/room.min.css">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <meta name = "description" content = "Gioca a qualsiasi gioco di carte senza la necessità di avere un mazzo di carte a portata di mano!">

        <script src = "https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>

        <link rel = "preconnect" href = "https://fonts.googleapis.com">
        <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
        <link rel = "stylesheet" href = "https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@900&family=League+Spartan:wght@500;700;900&display=swap">
    </head>
    <body>

        <script src = "static/js/min/room.min.js"></script>
    </body>
</html>