<!DOCTYPE html>
<html lang = "it">
    <head>
        <meta charset = "UTF-8">
        <title>SenzaMazzo.it</title>
        <meta name = "theme-color" content = "#1f2324">
        <link rel = "icon" href = "../static/assets/icons/favicon.png">
        <link rel = "stylesheet" href = "../static/css/min/room.min.css">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <meta name = "description" content = "Gioca con i tuo amici a qualsiasi gioco di carte senza la necessità di avere un mazzo di carte a portata di mano!">

        <link rel = "preconnect" href = "https://fonts.googleapis.com">
        <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
        <link rel = "stylesheet" href = "https://fonts.googleapis.com/css2?family=Alata&family=Outfit&display=swap">

        <script src = "https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
        <script src = "https://cdn.jsdelivr.net/npm/jquery-ui@1.13.2/dist/jquery-ui.min.js"></script>
        <script src = "https://cdn.jsdelivr.net/npm/jquery-ui-touch-punch@0.2.3/jquery.ui.touch-punch.min.js"></script>

        <script src = "https://cdn.jsdelivr.net/npm/socket.io@4.7.2/client-dist/socket.io.min.js"></script>
    </head>
    <body>

        <section id = "table">
            <div id = "it" class = "deck">
                {% for card in range(40) %}
                    <img class = "it card draw click press drag" src = "static/assets/decks/it/retro.jpg" alt = "it {{card}}">
                {% endfor %}
            </div>
            <div id = "fr" class = "deck">
                {% for card in range(54) %}
                    <img class = "fr card draw click press drag" src = "static/assets/decks/fr/retro.jpg" alt = "fr {{card}}">
                {% endfor %}
            </div>
        </section>
        <section id = "hand">
            <h3>MANO</h3>
            <div></div>
        </section>
        <section id = "notes">
            <textarea id = "public_notes" placeholder = "Note condivise"></textarea>
            <textarea id = "private_notes" placeholder = "Note personali"></textarea>
        </section>

        <script type = "text/javascript">

            $(document).ready(function () {

                const room = "{{room}}";
                var socket = io();

                socket.on("connect", function () {
                    socket.emit("join", { room: room });
                });

                socket.on("card", function (data) {
                    $(`img[alt = "${data.card}"]`).attr("id", data.draw);
                });

                socket.on("table", function (data) {
                    $("#table").html(data.table);
                });

                // $("#hand").click(function () {
                //     $("#table .card").click(function () {
                //         $("#hand").append($(this));
                //     });
                // });
                // $(document).keydown(function(event) {
                //     if (event.ctrlKey) {
                //         $("#table").on("click", ".click", function() {
                //             $("#hand").append($(this));
                //         });
                //     }
                //     });

                function draw(card) {

                    if (card.hasClass("draw")) {

                        if (card.hasClass("it")) {
                            var ITids = [];
                            $(".it").each(function () {
                                var cardID = card.attr("id");
                                if (cardID) {
                                    ITids.push(cardID);
                                }
                            });
                            socket.emit("draw", { room: room, deck: "IT", IDs: ITids, card: card.attr("alt") });
                        } else if (card.hasClass("fr")) {
                            var FRids = [];
                            $(".fr").each(function () {
                                var cardID = card.attr("id");
                                if (cardID) {
                                    FRids.push(cardID);
                                }
                            });
                            socket.emit("draw", { room: room, deck: "FR", IDs: FRids, card: card.attr("alt") });
                        }

                        card.removeClass("draw");
                    }
                };

                $(document).on("touchstart", ".drag", function () {
                    card = $(this);
                    card.draggable({
                        start: function(event, ui) {
                            draw(card);
                        }
                    });
                });
                $(document).on("mouseenter", ".drag", function () {
                    card = $(this);
                    card.draggable({
                        start: function(event, ui) {
                            draw(card);
                        }
                    });
                });
                $(".view").droppable({
                    accept: ".drag",
                    drop: function (event, ui) {
                        socket.emit("table", { room: room, "table": $("#table").html() });
                    }
                });

                $("#table").on("click", ".click", function () {

                    var card = $(this);
                    var src = card.attr("src");

                    if (src.endsWith("retro.jpg")) {
                        if (src.startsWith("static/assets/decks/it/")) {
                            card.attr("src", `static/assets/decks/it/${card.attr("id")}.jpg`);
                        } else if (src.startsWith("static/assets/decks/fr/")) {
                            card.attr("src", `static/assets/decks/fr/${card.attr("id")}.jpg`);
                        }
                    } else {
                        if (src.startsWith("static/assets/decks/it/")) {
                            card.attr("src", "static/assets/decks/it/retro.jpg");
                        } else if (src.startsWith("static/assets/decks/fr/")) {
                            card.attr("src", "static/assets/decks/fr/retro.jpg");
                        }
                    }

                    socket.emit("table", { room: room, "table": $("#table").html() });
                });

            });

        </script>
    </body>
</html>